*.so filter=lfs diff=lfs merge=lfs -text
*.reSs filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
environments/** filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
UnitySDK/** filter=lfs diff=lfs merge=lfs -text